[Unit]
Description=Lanoctopus Server
Wants=basic.target
After=basic.target network.target

[Service]
ExecStart=/opt/lanoctopus-server/venv/bin/python /opt/lanoctopus-server/lanoctopus-server.py
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
# EnvironmentFile=/opt/lanoctopus-server/sysconfig/lanoctopusservice.env
# Environment=broker_server=localhost
# Environment=broker_user=lanoctopus
# Environment=broker_password=lanoctopus
# Environment=port=1883
# Environment=mongodb_uri=mongodb://lanoctopus:lanoctopus@localhost/lanoctopus
WorkingDirectory=/opt/lanoctopus-server

[Install]
WantedBy=multi-user.target
