footer
  .container.text-center
    p.float-left © 2020 Francisco Mora Sánchez. Derechos Reservados
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/pkom/lanoctopus') GitHub
      li.list-inline-item
        a(href='https://github.com/pkom/lanoctopus/issues') Problemas
