footer
  .container.text-center
    p.float-left © 2019 Francisco Mora Sánchez, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/pkom/lanoctopus') GitHub Project
      li.list-inline-item
        a(href='https://github.com/pkom/lanoctopus/issues') Issues
